{% extends 'base.html' %}

{% block content %}

  <h1>{{ title }}</h1>
  <p>Kale chips ethical hammock, jianbing tousled church-key sunt do scenester bushwick pok pok 8-bit disrupt. Odio try-hard microdosing tattooed retro scenester, bitters small batch brunch cold-pressed prism pitchfork photo booth squid. Pariatur salvia exercitation biodiesel, consectetur cillum chartreuse man bun prism adipisicing normcore kogi. La croix artisan ut fixie wolf. Ex everyday carry tote bag trust fund, sapiente keytar franzen cardigan four loko eiusmod laborum. Readymade af polaroid normcore neutra proident authentic lumbersexual, irure roof party tumeric master cleanse dolore et. Aute delectus ennui, shabby chic cillum sartorial twee gluten-free.</p>

{% endblock content %}
